body{
    background-image: url();
        
}
.img-profile {
    background-image: url("img": "http://www.serebii.net/pokemongo/pokemon/001.png");
    width: 100px;
}

h1 {
    background: url("pokemon/logo-pokemon.jpg") no-repeat top left;
    }