*{
    margin: 0;
    padding: 0;
    // para que las dimensiones no se alteren, al agregarle bordes o rellenos
    box-sizing: border-box;
  }
  
  body{
    background-color: #ffee58;
    font-family: 'Luckiest Guy', cursive;
  }
/*Vamos a llamar a la clase todo */
.todo{
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.todo > h1{
    color: black;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px;
}

.todo > h1:after{
    content: '';
    width: 100%;
    height: 1px;
    background: grey;
    margin: 20px 0px;
}

.cuerpo {
    display: flex;
}

.categorias {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.categorias .category_item{
    display: block;
    /* Ya que los enlaces vengan por defecto con un inline block
    lo q hace que no sea posible q modifiquemos sus dimensiones. */
    width: 90%;
    padding: 15px 0px;
    margin-bottom: 20px;
    background: rgb(101, 216, 149);

    text-align: center;
    text-decoration: none;
    color: black;
    }
/* PRODUCTOS */

.productos {
    width: 82%;
    display: flex;
    /* con flex wrap respetan el ancho y se vam hacia abajo
    si el tamaño no alcanza se van a ir 
    hacia abajo, sipasa el limite se van hacia abajo */
    flex-wrap: wrap;
} 

.productos .product_item{
    width: 22%;
    /* margen a lado izquierdo */
    margin-left: 3%;
    margin-bottom: 20px;
    /* background: rgb(150, 250, 203); */

    display: flex;
    flex-direction: column;
    align-items: center;

}

.productos .product_item img{
    width: 100%;
}

.productos .product_item a{
    display: block;
    width: 100%;
    padding: 5px 0px;
    background: rgb(102, 230, 187);

    color: black;
    text-align: center;
    text-decoration: none;

}
